/*STYLE CONTACT*/


/*PC-NB*/
@media only screen and (max-width: 2900px) {
    #contact-section {
        padding: 2rem 12rem;
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
        background-color: #eaf2fd;
      }
      #contact-img {
        background-image: url("../images/contacto.png");
        background-size: cover;
        width: 90%;
        height: auto;
      }
      form h2 {
        font-size: 32px;
        font-weight: 700;
        padding-bottom: 1rem;
      }
      form input {
        margin-top: 2rem;
        width: 90%;
        height: 56px;
      }
      form textarea {
        margin-top: 2rem;
        width: 90%;
        height: 133px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: #c8c8c8 1px solid;
      }
      form input {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: #c8c8c8 1px solid;
      }
    
     form input:focus, form textarea:focus {
        outline: none;
        border-bottom-color: #2A7AE4;
     }
    
      form textarea {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: #c8c8c8 1px solid;
        padding-top: 1rem;
      }
      form input:placeholder-shown {
        font-size: 16px;
        font-family: Raleway;
      }
      form input:focus {
        font-size: 16px;
        font-family: Raleway;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: #2a7ae4 1px solid;
      }
    
      form textarea:placeholder-shown {
        font-size: 16px;
        font-family: Raleway;
        padding-top: 1rem;
      }
    
      form button {
        background-color: #2a7ae4;
        margin-top: 2rem;
        border: 1px solid #2a7ae4;
        box-sizing: border-box;
        font-size: 16px;
        color: white;
        height: 51px;
        width: 144px;
      }
      form {
        display: block;
      }
}
/*TABLET*/
@media only screen and (max-width: 1100px) {
    #contact-section {
        width: 100%;
        padding: 2rem 2rem;
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        background-color: #eaf2fd;
      }
      #contact-img {
        display: none;
      }
      form h2 {
        font-size: 22px;
        font-weight: 700;
        padding-bottom: 1rem;
      }
      form input {
        margin-top: 2rem;
        width: 80%;
        height: 56px;
      }
      form textarea {
        margin-top: 2rem;
        width: 80%;
        height: 133px;
      }
      form input {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: #c8c8c8 1px solid;
      }
    
      form textarea {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: #c8c8c8 1px solid;
        padding-top: 1rem;
      }
      form input:placeholder-shown {
        font-size: 16px;
        font-family: Raleway;
      }
      form input:focus {
        font-size: 16px;
        font-family: Raleway;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: #2a7ae4 1px solid;
      }
    
      form textarea:placeholder-shown {
        font-size: 16px;
        font-family: Raleway;
        padding-top: 1rem;
      }
    
      form button {
        background-color: #2a7ae4;
        margin-top: 2rem;
        border: 1px solid #2a7ae4;
        box-sizing: border-box;
        font-size: 16px;
        color: white;
        height: 51px;
        width: 133px;
      }
      form {
        display: block;
      }
}
/*MOBILE*/
@media only screen and (max-width: 550px) {
    #contact-section {
        width: 100%;
        padding: 2rem 2rem;
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        background-color: #eaf2fd;
      }
      #contact-img {
        display: none;
      }
      form h2 {
        font-size: 22px;
        font-weight: 700;
        padding-bottom: 1rem;
      }
      form input {
        margin-top: 2rem;
        width: 90%;
        height: 56px;
      }
      form textarea {
        margin-top: 2rem;
        width: 90%;
        height: 133px;
      }
      form input {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: #c8c8c8 1px solid;
      }
    
      form textarea {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: #c8c8c8 1px solid;
        padding-top: 1rem;
      }
      form input:placeholder-shown {
        font-size: 16px;
        font-family: Raleway;
      }
      form input:focus {
        font-size: 16px;
        font-family: Raleway;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: #2a7ae4 1px solid;
      }
    
      form textarea:placeholder-shown {
        font-size: 16px;
        font-family: Raleway;
        padding-top: 1rem;
      }
      form button {
        background-color: #2a7ae4;
        margin-top: 2rem;
        border: 1px solid #2a7ae4;
        box-sizing: border-box;
        font-size: 16px;
        color: white;
        height: 51px;
        width: 133px;
      }
      form {
        display: block;
      } 
}