/*STYLE HEADER*/

/*PC-NB*/
@media only screen and (max-width: 2900px) {
    body {
        width: 100%;
        font-family: "Raleway", sans-serif;
      }
      header {
        font-size: 16px;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        background-color: #f5f5f5;
        padding: 2rem 12rem;
      }
      header h3 {
        font-weight: 700;
      }
      header h3 img {
        vertical-align: middle;
        height: 2rem;
      }
      header nav {
        text-decoration: none;
        color: black;
        font-weight: 500;
        padding-top: 0.5rem;
      }
      header nav a {
        text-decoration: none;
        margin-right: 1rem;
        color: black;
      }
      header nav a:last-child {
        font-weight: 700;
      }
}
/*TABLET*/
@media only screen and (max-width: 1100px) {
    body {
        width: 100%;
        font-family: "Raleway", sans-serif;
      }
      header {
        width: 100%;
        font-size: 16px;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        background-color: #f5f5f5;
        padding: 2rem 2rem;
      }
      header h3 {
        font-weight: 700;
      }
      header h3 img {
        height: 2rem;
      }
      header nav {
        font-weight: 500;
      }
      header nav a {
        display:none;
        margin-right: 0.2rem;
      }
      header nav a:last-child {
        display: block;
        font-weight: 700;
      }
}
/*MOBILE*/
@media only screen and (max-width: 550px) {
    body {
        width: 100%;
        font-family: "Raleway", sans-serif;
      }
      header {
        width: 100%;
        font-size: 16px;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        background-color: #f5f5f5;
        padding: 1rem 2rem;
      }
      header h3 {
        font-weight: 700;
      }
      header h3 img {
        height: 2rem;
      }
      header nav {
        font-weight: 500;
      }
      header nav a {
        display:none;
        margin-right: 0.2rem;
      }
      header nav a:last-child {
        display: block;
        font-weight: 700;
      }
}